@tailwind base;
@tailwind components;
@tailwind utilities;


.clip-diagonal{
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.ant-card-cover {
   
    height: 50% !important;
}
.ant-card-body {
    height: 50% !important;

}

.ant-card-meta-detail div {
    color : #fff !important;
}